<form #transactionForm="ngForm" (ngSubmit)="onSubmit(transactionForm)">
  <div>
    <label for="creditCard">Credit Card:</label>
    <select id="creditCard" name="creditCard" [(ngModel)]="transactionFormModel.selectedCreditCard" required>
      <option *ngFor="let card of creditCards" [ngValue]="card">{{ card.cardholder_name }}</option>
    </select>
  </div>

  <div>
    <label for="amount">Amount:</label>
    <input type="number" id="amount" name="amount" [(ngModel)]="transactionFormModel.amount" required>
  </div>
  <div>
    <label for="comment">Comment:</label>
    <input type="text" id="comment" name="comment" [(ngModel)]="transactionFormModel.comment">
  </div>
  <div>
    <label for="currency">Currency:</label>
    <input type="text" id="currency" name="currency" [(ngModel)]="transactionFormModel.currency">
  </div>
  <!-- Add more form fields as needed -->
  <div>
    <button class="bg-blue-300 hover:bg-blue-500 text-white shadow-2xl hover:shadow-sm rounded-3xl m-4 px-4 py-2"
            type="submit">
      Submit
    </button>
  </div>
</form>
