<div class="flex flex-col min-w-[900px]">
  <div class="flex justify-between mt-8">
    <h1 class=" p-4 pl-8 text-2xl italic">Transactions overview</h1>
    <button>
      <a
        class="animate-pulse my-4 mx-8 p-4 border rounded min-w-fit bg-blue-500 hover:bg-blue-700 hover:animate-none text-white font-bold "
        routerLink="/transaction/add"
      >Add new transaction</a
      >
    </button>
  </div>
  <input
    type="text"
    class="m-8 p-4 border rounded min-w-fit bg-gray-200 hover:bg-gray-300 text-black font-bold"
    placeholder="filter here eg. transaction -id, -amount, -currency, -comment, -date, credit-card -number, -name etc."
    [(ngModel)]="filterTerm"
    (input)="filterTransactions(filterTerm)"
  />
  <app-transactionslist
    [transactions]="filteredTransactions"
    (deleteTransactionEvent)="onDeleteTransaction($event)"
  ></app-transactionslist>
</div>
