<div class="flex flex-col">
  <h1 class=" p-4 pl-8 text-2xl bg-zinc-300 italic">Transactions Overview</h1>
  <div class="flex pl-8 pt-6">
    <div class="flex flex-col ">
      <h3 class="mt-4 align-middle font-semibold">Filter</h3>
      <input
        type="text"
        class="my-4 p-4 border rounded w-64"
        placeholder="Filter by ID, amount or date"
        [(ngModel)]="filterTerm"
        (input)="filterTransactions(filterTerm)"
      />

      <!-- Transaction Form -->
      <div *ngIf="showTransactionForm" class="mt-4 p-4 border rounded">
        <h2 class="text-xl font-semibold mb-2">Add Transaction</h2>
        <form (submit)="addTransaction()">
          <!-- Card Information -->
          <div class="mb-4">
            <label for="cardSelect" class="block font-semibold">Select Card:</label>
            <select id="cardSelect" class="p-2 border rounded min-w-full" [(ngModel)]="selectedCard">
              <option *ngFor="let card of cardList" [value]="card">{{ card.cardholder_name }}</option>
            </select>
          </div>

          <!-- Transaction Details -->
          <div class="mb-4">
            <label for="amount" class="block font-semibold">Amount:</label>
            <input type="number" id="amount" class="p-2 border rounded min-w-full" [(ngModel)]="newTransaction.amount"
                   required>
          </div>
          <div class="mb-4">
            <label for="comment" class="block font-semibold">Comment:</label>
            <textarea id="comment" class="p-2 border rounded min-w-full"
                      [(ngModel)]="newTransaction.comment"></textarea>
          </div>
          <div class="mb-4">
            <label for="date" class="block font-semibold">Date:</label>
            <input type="date" id="date" class="p-2 border rounded min-w-full" [(ngModel)]="newTransaction.date"
                   required>
          </div>
          <div class="mb-4">
            <label for="currency" class="block font-semibold">Currency:</label>
            <input type="text" id="currency" class="p-2 border rounded min-w-full" [(ngModel)]="newTransaction.currency"
                   required>
          </div>

          <!-- Submit Button -->
          <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded min-w-full">
            Save Transaction
          </button>
          <button type="button"
                  class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded min-w-full mt-4"
                  (click)="cancelTransaction()">
            Cancel
          </button>
        </form>
      </div>
    </div>
    <div>

      <app-transactionslist
        [transactions]="filteredTransactions"
        (deleteTransactionEvent)="onDeleteTransaction($event)"
      ></app-transactionslist>
    </div>
  </div>
</div>
