<div class="flex flex-col my-8">
  <button
    class="py-2 mb-8 bg-blue-400 hover:bg-blue-600 text-white font-semibold hover:font-bold px-8 rounded-full transition-colors duration-200 ease-in-out shadow-md"
    (click)=navigateToCards()>
    Go back
  </button>

  <h1 class="text-5xl font-light text-blue-900 mx-auto">
    Add new Credit Card
  </h1>

  <form
    class="flex flex-col gap-4 p-8 border-2 mx-8 mt-8 max-w-[600px]"
    [formGroup]="creditCardForm"
    (ngSubmit)="onSubmit()">
    <!-- Card Number -->
    <div class="mb-4 flex justify-between align-middle gap-4">
      <label for="cardNumber">Card Number:</label>
      <div class="flex-col">
        <input
          type="number"
          id="cardNumber"
          name="cardNumber"
          formControlName="cardNumber"
          class="p-2 border rounded"
        />
        <div *ngIf="creditCardForm.get('cardNumber')?.touched && creditCardForm.get('cardNumber')?.hasError('required')"
             class="text-red-500">
          Card Number is required.
        </div>
        <div *ngIf="creditCardForm.get('cardNumber')?.touched && creditCardForm.get('cardNumber')?.hasError('pattern')"
             class="text-red-500">
          Card Number must contain only numbers.
        </div>
        <div
          *ngIf="creditCardForm.get('cardNumber')?.touched && creditCardForm.get('cardNumber')?.hasError('minlength')"
          class="text-red-500">
          Card Number must be at least 7 digits long.
        </div>
        <div
          *ngIf="creditCardForm.get('cardNumber')?.touched && creditCardForm.get('cardNumber')?.hasError('maxlength')"
          class="text-red-500">
          Card Number must not exceed 16 digits.
        </div>
      </div>
    </div>

    <!-- Cardholder Name -->
    <div class="mb-4 flex justify-between align-middle gap-4">
      <label for="cardholderName">Cardholder Name:</label>
      <div class="flex-col">
        <input
          type="text"
          id="cardholderName"
          name="cardholderName"
          formControlName="cardholderName"
          class="p-2 border rounded"
        />
        <div
          *ngIf="creditCardForm.get('cardHolderName')?.touched && creditCardForm.get('cardholderName')?.hasError('required')"
          class="text-red-500">
          Name is required.
        </div>
      </div>
    </div>

    <!-- CSC Code -->
    <div class="mb-4 flex justify-between align-middle gap-4">
      <label for="cscCode">CSC Code:</label>
      <div class="flex-col">
        <input
          type="number"
          id="cscCode"
          name="cscCode"
          formControlName="cscCode"
          class="p-2 border rounded"
        />
        <div *ngIf="creditCardForm.get('cscCode')?.touched && creditCardForm.get('cscCode')?.hasError('required')"
             class=" text-red-500">
          CSC Code is required.
        </div>
        <div *ngIf="creditCardForm.get('cscCode')?.touched && creditCardForm.get('cscCode')?.hasError('pattern')"
             class="text-red-500">
          CSC Code must contain only numbers.
        </div>
        <div *ngIf="creditCardForm.get('cscCode')?.touched && creditCardForm.get('cscCode')?.hasError('maxlength')"
             class="text-red-500">
          CSC Code must be exactly 3 digits long.
        </div>
        <div *ngIf="creditCardForm.get('cscCode')?.touched && creditCardForm.get('cscCode')?.hasError('minlength')"
             class="text-red-500">
          CSC Code must be exactly 3 digits long.
        </div>
      </div>
    </div>

    <!-- Expiration Date Month -->
    <div class="mb-4 flex justify-between align-middle gap-4">
      <label for="expirationDateMonth">Expiration Date Month:</label>
      <div class="flex-col">
        <input
          type="number"
          id="expirationDateMonth"
          name="expirationDateMonth"
          formControlName="expirationDateMonth"
          class="p-2 border rounded"
        />
        <div
          *ngIf="creditCardForm.get('expirationDateMonth')?.touched && creditCardForm.get('expirationDateMonth')?.hasError('required')"
          class="text-red-500">
          Expiration Month is required.
        </div>
        <div
          *ngIf="creditCardForm.get('expirationDateMonth')?.touched && creditCardForm.get('expirationDateMonth')?.hasError('min')"
          class="text-red-500">
          Expiration Month must be at least 1.
        </div>
        <div
          *ngIf="creditCardForm.get('expirationDateMonth')?.touched && creditCardForm.get('expirationDateMonth')?.hasError('max')"
          class="text-red-500">
          Expiration Month must be at most 12.
        </div>
      </div>
    </div>

    <!-- Expiration Date Year -->
    <div class="mb-4 flex justify-between align-middle gap-4">
      <label for="expirationDateYear">Expiration Date Year:</label>
      <div class="flex-col">
        <input
          type="number"
          id="expirationDateYear"
          name="expirationDateYear"
          formControlName="expirationDateYear"
          class="p-2 border rounded"
        />
        <div
          *ngIf="creditCardForm.get('expirationDateYear')?.touched && creditCardForm.get('expirationDateYear')?.hasError('required')"
          class="text-red-500">
          Expiration Year is required.
        </div>
        <div
          *ngIf="creditCardForm.get('expirationDateYear')?.touched && creditCardForm.get('expirationDateYear')?.hasError('min')"
          class="text-red-500">
          Expiration Year must be at least 2020.
        </div>
        <div
          *ngIf="creditCardForm.get('expirationDateYear')?.touched && creditCardForm.get('expirationDateYear')?.hasError('max')"
          class="text-red-500">
          Expiration Year must be at most 2069.
        </div>
      </div>
    </div>

    <!-- Issuer (optional) -->
    <div class="mb-4 flex justify-between align-middle gap-4">
      <label for="issuer">Issuer:</label>
      <input
        type="text"
        id="issuer"
        name="issuer"
        formControlName="issuer"
        class="p-2 border rounded"
      />
    </div>

    <!-- Submit Button -->
    <button
      type="submit"
      [disabled]="creditCardForm.invalid"
      class="py-2 px-4 rounded-full transition-colors duration-300 ease-in-out
         {{ creditCardForm.invalid ? 'bg-gray-300 cursor-not-allowed opacity-50' : 'bg-blue-500 hover:bg-blue-600 text-white font-semibold' }}"
    >
      Submit
    </button>

  </form>
</div>
