<nav class="bg-gradient-to-r from-blue-500 to-blue-700 flex justify-center ">
  <div class="ml-8 flex items-center">
    <a class="text-white hover:text-gray-300 hover:scale-105 m-4 text-xl font-light"
       routerLink=""
       routerLinkActive="">Home</a>
    <a class="text-white hover:text-gray-300 hover:scale-105 m-4 text-xl font-light"
       routerLink="credit-card/add"
       routerLinkActive="underline">Add Card</a>
    <a class="text-white hover:text-gray-300 hover:scale-105 m-4 text-xl font-light"
       routerLink="transaction"
       routerLinkActive="underline">Transactions</a>
  </div>
</nav>
